@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
  width: 100%;
  height: 100%;
  background-color: #292F3B;
}

.hero{
  height: 100%;
}
.home{
  min-height: 100vh;
  height: 100%;
  width: 100%;
  background-color: #292F3B;
}